#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  h1 {
    margin: 1rem auto 4rem;
  }
  
  .product--image {
    width: 100%;
    height: 14em;
    object-fit: cover;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 320px;
    /* max-height: 420px; */
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: rgb(21, 20, 20);
    font-size: 22px;
    margin-left: 40px;

  }
  .originalPrice {
    text-decoration: line-through;
    margin-left: 10px;
    color: rgb(183, 27, 27);

  }
  .price-container {
    display: flex;
    align-items: center; /* Optional: Align items vertically in the center */
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  